*{
    padding: 0;
    margin: 0;
}
.main{
    height: 400px;
    width: 400px;
    background-color: burlywood;
    display:block;
   
   
    margin-left: 450px;
    
}
.main h2{
    background-color: black;
    color: white;
    font-weight: 900;
    text-align: center;
}
.main h1{
    text-align: center;
    margin-top: 90px;
}
.btn-increment{
    font-size: 25px;
    font-weight: bold;
    background-color: rgb(90, 117, 82);
    margin-left: 100px;
    margin-top: 90px;


    
}
.btn-decrement{
    font-size: 25px;
    font-weight: bold;
    background-color: rgb(131, 27, 36);
    margin-left: 20px;
}

 @media (max-Width:1024px){
    .main{
        margin: 0 auto;
    }
 }
 @media (max-Width:500px){
    .main{
        margin: 0 auto;
    }
 }